/* ==UserStyle==
@name           DeepL Catppuccin
@namespace      github.com/catppuccin/deepl
@version        0.1.2
@description    Soothing pastel theme for DeepL
@author         Catppuccin
@updateURL      https://github.com/catppuccin/deepl/raw/main/catppuccin.user.css
@preprocessor   stylus

@var select theme "Theme" ["Latte", "Frappe", "Macchiato", "Mocha*"]
@var checkbox quotes "Remove Quotes" 0
@var checkbox header "Remove Header" 0
@var checkbox footer "Remove Footer" 0
==/UserStyle== */

@-moz-document url-prefix("https://www.deepl.com/translator") {
    if (theme=="Latte") {
        $rosewater = #dc8a78;
        $flamingo = #dd7878;
        $pink = #ea76cb;
        $mauve = #8839ef;
        $red = #d20f39;
        $maroon = #e64553;
        $peach = #fe640b;
        $yellow = #df8e1d;
        $green = #40a02b;
        $teal = #179299;
        $sky = #04a5e5;
        $sapphire = #209fb5;
        $blue = #1e66f5;
        $lavender = #7287fd;
        $text = #4c4f69;
        $subtext1 = #5c5f77;
        $subtext0 = #6c6f85;
        $overlay2 = #7c7f93;
        $overlay1 = #8c8fa1;
        $overlay0 = #9ca0b0;
        $surface2 = #acb0be;
        $surface1 = #bcc0cc;
        $surface0 = #ccd0da;
        $base = #eff1f5;
        $mantle = #e6e9ef;
        $crust = #dce0e8;
    }

    else if (theme=="Frappe") {
        $rosewater = #f2d5cf;
        $flamingo = #eebebe;
        $pink = #f4b8e4;
        $mauve = #ca9ee6;
        $red = #e78284;
        $maroon = #ea999c;
        $peach = #ef9f76;
        $yellow = #e5c890;
        $green = #a6d189;
        $teal = #81c8be;
        $sky = #99d1db;
        $sapphire = #85c1dc;
        $blue = #8caaee;
        $lavender = #babbf1;
        $text = #c6d0f5;
        $subtext1 = #b5bfe2;
        $subtext0 = #a5adce;
        $overlay2 = #949cbb;
        $overlay1 = #838ba7;
        $overlay0 = #737994;
        $surface2 = #626880;
        $surface1 = #51576d;
        $surface0 = #414559;
        $base = #303446;
        $mantle = #292c3c;
        $crust = #232634;
    }

    else if (theme=="Macchiato") {
        $rosewater = #f4dbd6;
        $flamingo = #f0c6c6;
        $pink = #f5bde6;
        $mauve = #c6a0f6;
        $red = #ed8796;
        $maroon = #ee99a0;
        $peach = #f5a97f;
        $yellow = #eed49f;
        $green = #a6da95;
        $teal = #8bd5ca;
        $sky = #91d7e3;
        $sapphire = #7dc4e4;
        $blue = #8aadf4;
        $lavender = #b7bdf8;
        $text = #cad3f5;
        $subtext1 = #b8c0e0;
        $subtext0 = #a5adcb;
        $overlay2 = #939ab7;
        $overlay1 = #8087a2;
        $overlay0 = #6e738d;
        $surface2 = #5b6078;
        $surface1 = #494d64;
        $surface0 = #363a4f;
        $base = #24273a;
        $mantle = #1e2030;
        $crust = #181926;
    }

    else if (theme=="Mocha") {
        $rosewater = #f5e0dc;
        $flamingo = #f2cdcd;
        $pink = #f5c2e7;
        $mauve = #cba6f7;
        $red = #f38ba8;
        $maroon = #eba0ac;
        $peach = #fab387;
        $yellow = #f9e2af;
        $green = #a6e3a1;
        $teal = #94e2d5;
        $sky = #89dceb;
        $sapphire = #74c7ec;
        $lavender = #b4befe;
        $blue = #89b4fa;
        $text = #cdd6f4;
        $subtext1 = #bac2de;
        $subtext0 = #a6adc8;
        $overlay2 = #9399b2;
        $overlay1 = #7f849c;
        $overlay0 = #6c7086;
        $surface2 = #585b70;
        $surface1 = #45475a;
        $surface0 = #313244;
        $base = #1e1e2e;
        $mantle = #181825;
        $crust = #11111b;
    }

    .dl_body {
		&,
		&--textpage {
			background-color: theme is "Latte" ? $mantle : $base;
        	color: $text;
		}

		&--redesign {
			background-color: theme is "Latte" ? $mantle !important : $base !important;
		}
	}

    /* Header */

    .dl_header {
		&,
		&::before {
			background-color: theme is "Latte" ? $crust !important : $mantle !important;
		}

		&_menu_v2 {
			&__links__item {
				&,
				&:visited,
				&:active,
				&:focus {
					color: $sapphire;
				}

				&:not(.nohover):hover,
				&.is-active {
					border-bottom: 3px solid $lavender;
					color: $lavender;
				}

				&.dl_translator_link:not(.nohover):hover {
					border-bottom: 3px solid $lavender;
					color: $sapphire;
				}
			}

            &__login_button_simple > button {
                color: $sapphire;

                &:hover {
                    color: $lavender;
                }
            }

			&__buttons__menu {
				&,
				& > button {
					&::before,
					&::after {
						color: $sapphire;
					}

					&:hover::before,
					&:hover::after {
						color: $lavender;
					}
				}
			}
		}

		&Menu {
			&__freeBadge {
				background-color: $teal;
				color: $base;
			}

			&__proButton {
				background-color: $blue;
				color: $base;

				&:hover {
					background-color: darken($blue, 25%);
					color: $base;
				}
			}
		}
	}

    .lmt__stickyMenubar .dl_header--sticky {
        transition: unset;
    }

    /* Main */

    /* Buttons */

    .lmt__docTrans-tab-container {
		[class^="cardButton"] {
			background-color: theme is "Latte" ? $base : $surface0;
        	border-color: theme is "Latte" ? $surface2 : $overlay0;

			[class^="textLower"] {
				color: $subtext0;
			}

			[class^="textUpper"] {
				color: $sapphire;
			}

			[class^="logo"] {
				color: $sapphire;
				stroke: $sapphire;
				fill: $sapphire;
			}

			&:not([class*="active"]):hover {
				background-color: theme is "Latte" ? darken($base, 10%) : lighten($surface0, 10%);
			}
		}

		[class*="active"] {
			[class^="textUpper"] {
				color: $lavender;
			}

			[class^="logo"] {
				color: $lavender;
				stroke: $lavender;
				fill: $lavender;
			}

			[class^="innerLower"] {
				background-color: $sapphire;
			}
		}
	}

    /* Input containers */

    /* Headers */

    .integratedLanguageSelectors {
		.lmt--web {
			.lmt__sides_container {
				.lmt__side_container {
       			 	border-color: theme is "Latte" ? $surface2 : $overlay0;
    			}

				.lmt__language_container {
					background: theme is "Latte" ? $base : $surface0;
				}
			}
		}
	}

    .lmt__language_select__active__title {
        color: $subtext0;
    }

    .lmt--web .lmt__language_select > .lmt__language_select__active strong,
    .dl_body--redesign .lmt--web .lmt__language_select .lmt__language_select__active .lmt__language_select__opener,
    .lmt--web .lmt__language_select__menu_three_columns_close_button,
    .lmt__glossary_button .lmt__glossary_button_label {
        color: $sapphire;
    }

    .lmt--web .lmt__language_select > .lmt__language_select__active:hover strong,
    .lmt--web .lmt__language_select > .lmt__language_select__active:hover .lmt__language_select__opener {
        color: $lavender;
    }

	.lmt__glossaryButton__desktop {
		border-color: theme is "Latte" ? $surface1 : $surface2;
	}

    .lmt__glossaryButton__desktop.switchedOn {
        border-color: $sapphire;
    }

    .lmt__glossary_button .lmt__glossary_button_label:hover {
        color: $lavender;
    }

    .lmt__glossary_onOffSwitch_container [class*="label"] {
        --inlineLabelColor: $base;
        --background: $overlay0;
    }

    .lmt__glossary_onOffSwitch_container [class*="label"] [class*="toggle"] [class*="knob"] {
        background: $base;
    }

    .lmt__glossary_onOffSwitch_container [class*="label"][class*="selected"] {
        --background: $green;
        --backgroundHover: darken($green, 20%);
    }

    /* Main containers */

    .lmt--web .lmt__textarea_placeholder_text {
        color: $overlay1;
    }

    .integratedLanguageSelectors .dl_translator_page_container .lmt--web .lmt__text .lmt__textarea_container,
	.integratedLanguageSelectors .lmt--web .lmt__sides_container .lmt__side_container--target .lmt__language_container_switch {
        border-color: theme is "Latte" ? $surface2 !important : $overlay0 !important;
        background: theme is "Latte" ? $base !important : $surface0 !important;
        color: $text;
    }

    .lmt--web .lmt__textarea,
    .lmt__textarea_container textarea {
        color: $text;
    }

    .lmt--web .lmt__translations_as_text h4 {
        color: $subtext1;
    }

    ul > .lmt__translations_as_text__item button {
        color: $text;
    }

    .lmt--showing_alternatives .lmt__translations_as_text::before,
    .lmt--web .lmt__translations_as_text h4::before {
        border-top: theme is "Latte" ? 1px solid $surface2 : 1px solid $overlay0;
    }

    .integratedLanguageSelectors .lmt--web .lmt__sides_container.lmt__sides_container--focus_source .lmt__side_container--source,
    .integratedLanguageSelectors .lmt--web .lmt__sides_container.lmt__sides_container--focus_target .lmt__side_container--target {
        border-color: $sapphire !important;
    }

    .lmt__source_textarea_overlay .lmt__source_textarea_overlay__sentence--active {
        color: $text;
        background-color: theme is "Latte" ? $base : $surface0;
    }

    .lmt--web .lmt__textarea_container .lmt__inner_textarea_container {
        background: theme is "Latte" ? $base !important : $surface0 !important;
    }

    .lmt__textarea_container {
        [class*="button"] {
            svg {
                color: $sapphire;
            }

            &:hover:enabled,
            &:active:enabled,
            &[class*=tabbed] {
                background-color: theme is "Latte" ? $surface0 : $surface1;
            }
        }
    }

    .lmt--web .lmt__language_container .lmt__language_container_switch svg > path {
        stroke: $sapphire;
    }

    .lmt--web .lmt__language_container .lmt__language_container_switch:hover svg > path, .lmt--web .lmt__language_container .lmt__language_container_switch:focus svg > path {
        stroke: $lavender;
    }

    .lmt--web .lmt__inner_textarea_container .lmt__textarea_dummydiv {
        background-color: theme is "Latte" ? $base : $surface0;
    }

    .lmt--active_translation_request.lmt--active_translation_request--with_target_has_content .lmt__side_container--target .lmt__inner_textarea_container {
        animation: unset !important;
        box-shadow: unset !important;
    }

    .lmt--web .lmt__textarea.lmt__textarea--inactive {
        color: theme is "Latte" ? $overlay1 : $overlay2;
    }

    #translator-source-clear-button:hover:enabled {
        background-color: theme is "Latte" ? darken($base, 5%) : lighten($surface0, 5%);

        svg {
            color: $sapphire;
        }
    }

    /* Doucment container */

    .docTrans_document {
        [class*="panel"] {
            background-color: theme is "Latte" ? $base : $surface0;
            border-color: theme is "Latte" ? $surface2 : $overlay0;
        }
    }

    .lmt--web .docTrans__help_popup {
        background-color: theme is "Latte" ? $base : $surface0;

        [class*="button"] {
            color: $base;
            background-color: $sapphire;
            border-color: $sapphire;
        }
    }

    .dl_help-popup_assist-text {
        color: $subtext1;
    }

    /* Dictionary container */

    .lmt__dict.lmt--is-dict-ready .lmt__dict__inner,
    .lmt__dict .lmt__dict__empty_state.lmt__dict__placeholder__shown {
        border: theme is "Latte" ? 1px solid $surface2 : 1px solid $overlay0;
        background: theme is "Latte" ? $base : $surface0;
        color: theme is "Latte" ? $overlay0 : $overlay1;

        [class*="buttonContainer"] button {
            color: $sapphire;
            stroke: $sapphire;

            &:hover svg {
                color: $lavender;
                stroke: $lavender;
            }
        }

    }

    .lmt__dict .isForeignTerm .tag_lemma,
    .lmt__dict .isForeignTerm .tag_lemma a,
    .lmt__dict .isForeignTerm .tag_s,
    .lmt__dict .isForeignTerm .tag_s a,
    .lmt__dict .isForeignTerm .tag_trans_src_context,
    .lmt__dict .sep {
        color: $subtext1;
    }

    .lmt__dict .tag_lemma a,
    .lmt__dict .isForeignTerm .tag_trans,
    .lmt__dict .isForeignTerm .tag_trans a,
    .lmt__dict .isForeignTerm .tag_t,
    .lmt__dict .isForeignTerm .tag_t a {
        color: $sapphire;
    }

    .lmt__dict .tag_trans {
        color: $subtext1;
    }

    .lmt__dict .notascommon {
        color: $subtext0;
    }

    /* Languages */

    .lmt__language_select__menu > div > div > focus-within:border-blue-chill {
        border-color: $sapphire !important;
    }

    [class*="form"] [class*="submit"]:disabled {
    	background: $sapphire;
    	color: $base;
    	filter: brightness(.8);
	}

	.lmt__glossary_editor_langPairHeadline {
    	color: $text;
    	border-bottom: theme is "Latte" ? 1px solid $overlay0 : 1px solid $overlay1;
	}

	.lmt__glossary_editorRow {
    	color: $text;
	}

	.lmt__glossary_arrowRightWrapper .lmt__glossary_arrowRight {
		border-bottom: theme is "Latte" ? 3px solid $overlay2 : 3px solid $subtext0;
		border-right: theme is "Latte" ? 3px solid $overlay2 : 3px solid $subtext0;
	}

	.lmt__glossary_editorRow .iconButton {
		fill: theme is "Latte" ? $overlay2 : $subtext0;
	}

	.lmt__language_select__menu.lmt__language_select__menu_three_columns {
		background-color: theme is "Latte" ? $base : $surface0;
		border: theme is "Latte" ? 1px solid $surface2 : 1px solid $overlay0;
	}

	.flex-1 {
		background: theme is "Latte" ? $base : $surface0;
		color: $subtext0;
	}

	.lmt__language_select__menu.lmt__language_select__menu_three_columns .lmt__language_wrapper .lmt__language_select_column {
		border-right: theme is "Latte" ? 1px solid $overlay0 : 1px solid $overlay1;
	}

	.lmt__language_select__menu.lmt__language_select__menu_three_columns .lmt__language_wrapper .lmt__language_select_column button .tick {
		border-bottom: 2px solid $sapphire;
		border-right: 2px solid $sapphire;
	}

	.lmt__language_select_column span {
		color: $text;
	}

    .integratedLanguageSelectors.lang_menu_three_columns_large_mode_target .lmt--web .lmt__sides_container .lmt__side_container.lmt__side_container--target {
        border: theme is "Latte" ? 1px solid $surface2 !important : 1px solid $overlay0 !important;
    }

	/* Glossary */

	.lmt__glossary_editor,
    [class*="modal"][dl-test="glossary-modal"] {
		background-color: theme is "Latte" ? $base : $surface0;
		color: $text;
		border: 1px solid $sapphire;
	}

	.lmt__glossary_editor_mainBar {
		background-color: $sapphire;
		color: $base;
	}

	.lmt__glossary_editor_mainBar .lmt__glossary_editorClose {
		color: $base;
	}

	.lmt__glossary_editor .lmt__glossary_editor_glossaryMultiple {
		background-color: theme is "Latte" ? $base : $surface0;
	}

	.lmt__glossary_editor .lmt__glossary_editor_glossaryMultiple .lmt__glossary_editor_glossarySelect .lmt__glossary_editor_glossaryNameWrapper .lmt__glossary_editor_glossaryName {
		color: $text;
	}

	.lmt__glossary_editor .lmt__glossary_editor_glossaryMultiple .lmt__glossary_editor_glossarySelect .lmt__glossary_editor_glossaryNameWrapper .lmt__glossary_editor_glossarySelectChevron.lmt__glossary_arrowDown {
		border-bottom: 2px solid $text;
		border-right: 2px solid $text;
	}

	.lmt__glossary_editor .lmt__glossary_editor_glossaryMultiple .lmt__glossary_editor_glossaryAddNewWrapper {
		border-left: theme is "Latte" ? 1px solid $overlay0 : 1px solid $overlay1;
	}

	.lmt__glossary_editor .lmt__glossary_editor_glossaryMultiple .lmt__glossary_editor_glossaryAddNewWrapper .lmt__glossary_editor_glossaryAddNew, .lmt__glossary_editor .lmt__glossary_editor_glossaryMultiple .lmt__glossary_editor_glossaryAddNewWrapper .lmt__glossary_editor_glossaryDownload {
		color: $sapphire;
	}

	[class^="form"] {
		background: theme is "Latte" ? $base : $surface0;
	}

	[class*="wrapper"] [class*="controls"] [class*="input"],
	[class*="wrapper"] [class*="button"] {
		--input-background: theme is "Latte" ? $surface0 : $surface1;
		--button-background: theme is "Latte" ? $surface0 : $surface1;
		--button-color: $text;
		--button-border-color: theme is "Latte" ? $overlay0 : $overlay1;
		--input-border-color: theme is "Latte" ? $overlay0 : $overlay1;
		--input-color: $subtext1;
	}

    [class*="modal"][dl-test="glossary-modal"] {
        [class^="content"] {
            color: $text;

            .lmt__glossary_acceptButton {
                background-color: $sapphire;
                color: $base;

                &:hover {
                    background-color: $lavender;
                    color: $base;
                }
            }
        }

        input::placeholder,
        textarea::placeholder,
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder,
        input::-moz-placeholder,
        textarea::-moz-placeholder {
            color: $subtext0;
        }
    }

    .lmt_firstEntry-content .lmt__glossary_newEntry_inputSource,
    .lmt_firstEntry-content .lmt__glossary_newEntry_inputTarget,
    .lmt_firstEntry-content .lmt__glossary_newEntry_langButton {
        background-color: theme is "Latte" ? $surface1 : $surface2;
        border-color: theme is "Latte" ? $overlay1 : $overlay2;
    }

    .lmt_firstEntry-content .lmt__glossary_newEntry_langButton {
        color: $blue;
    }

    .lmt_firstEntry-content .lmt__glossary_newEntry_langButton .lmt__glossary_arrowRight {
        color: $subtext0;
        stroke: $subtext0;
    }

    .lmt_firstEntry-content .lmt__glossary_newEntry_langButton .lmt__glossary_arrowDown {
        border-bottom: 2px solid $subtext0;
        border-right: 2px solid $subtext0;
    }

    [class*="form"] [class*="wrapper"] {
        [id*="headlessui-listbox-button"] + ul[id*="headlessui-listbox-options"] {
            background-color: theme is "Latte" ? $surface0 : $surface1;
            --option-icon-color: $sapphire;
            --option-color: $text;

            [class*="option"][class*="active"] {
                --option-background: alpha($yellow, 0.2);
            }
        }
    }

    /* Tooltips and pop-ups */

    .lmt__glossary_dialog {
        background: $surface1;
        color: $text;
    }

    .lmt__edit_text_popup {
        background: $surface1;

        ul {
            background: $surface1;
        }

        li {
            color: $text;
            border-bottom: theme is "Latte" ? 1px solid $overlay0 : 1px solid $overlay1;
        }

        & &__entry--active {
            background: alpha($yellow, .2);
        }
    }

    [style="display: contents;"] [class*="container"] {
        [class*="hint"] {
            border-color: theme is "Latte" ? $overlay0 : $overlay1;
            background-color: theme is "Latte" ? $surface0 : $surface1;

            path {
                stroke: $text;
                color: $text;
            }
        }
    }

    /* Quotes */

    .lmt_quote {
        &__inner {
            color: $text;
            background-color: theme is "Latte" ? $base : $surface0;
        }

        &__text {
            color: $text;
        }

        &__source {
            color: $text;

            a {
                color: $sapphire;

                &:hover {
                    color: $lavender;
                }
            }
        }
    }

    /* Footer */

    .eSEOtericText {
        color: theme is "Latte" ? $overlay0 : $overlay1;
    }

    [class^="footerOuterContainer"] {
        background-color: theme is "Latte" ? $crust : $mantle;

        [class^="footerContainer"] [class^="footerContentContainer"] [class^="linksContainer"] [class^="linkList"] li {
            &:not(:first-of-type) a {
                color: $subtext1 !important;
            }

            [class^="badgeNew"] {
                background-color: $teal;
                color: $base;
            }
        }
    }

    [class^="languageSelector"] {
        select {
            color: $subtext1
        }

        &::after {
            fill: $subtext1;
            color: $subtext1;
            stroke: $subtext1;
            opacity: 0.7;
        }

        option {
            background: theme is "Latte" ? $surface0 : $surface1;
        }
    }

    .lmt_quotes_nav_entry {
        background-color: theme is "Latte" ? $surface1 : $surface2;

        &--active {
            background-color: $sapphire;
        }
    }

    /* Images */

    if (theme!="Latte") {
        .dl_header_menu_v2__logo img,
        .dl_translator_link_container img,
        .lmt_quote__inner::before,
        .dl_navigate_away img,
        [class*="supportedIcons"] img {
            filter: brightness(175%);

        }
    }

    a {
        &[aria-label="twitter"] {
            -webkit-mask-image: url("https://static.deepl.com/img/_optimized/footer/twitterLogo.svghttps://static.deepl.com/img/_optimized/footer/twitterLogo.svg");
             mask-image: url("https://static.deepl.com/img/_optimized/footer/twitterLogo.svg");
        }

        &[aria-label="facebook"] {
            -webkit-mask-image: url("https://static.deepl.com/img/_optimized/footer/facebookLogo.svg");
             mask-image: url("https://static.deepl.com/img/_optimized/footer/facebookLogo.svg");
        }

        &[aria-label="linkedin"] {
            -webkit-mask-image: url("https://static.deepl.com/img/_optimized/footer/linkedinLogo.svg");
             mask-image: url("https://static.deepl.com/img/_optimized/footer/linkedinLogo.svg");
        }

        &[aria-label="github"] {
            -webkit-mask-image: url("https://static.deepl.com/img/_optimized/footer/githubLogo.svg");
             mask-image: url("https://static.deepl.com/img/_optimized/footer/githubLogo.svg");
        }

        &[aria-label="twitter"],
        &[aria-label="facebook"],
        &[aria-label="linkedin"],
        &[aria-label="github"] {
            &::after {
                content: "";
                display: block;
                position: absolute;
                background: $subtext0;
                -webkit-mask-size: 100%;
                -webkit-mask-position: 100%;
                mask-size: 100%;
                mask-position: 100%;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    [class^="brandingContainer"] > .dl_navigate_away::after {
        content: "";
        mask-image: url("https://static.deepl.com/img/_optimized/footer/deeplLogo.svg");
        -webkit-mask-image: url("https://static.deepl.com/img/_optimized/footer/deeplLogo.svg");
        display: block;
        position: relative;
        background: $sapphire;
        -webkit-mask-size: 100%;
        -webkit-mask-position: 100%;
        mask-size: 102px;
        mask-position: 100%;
        right: 58px;
        width: 102px;
        height: 35px;
    }

    [class^="languageSelectorContainer"]::after {
        content: "";
        mask-image: url("https://static.deepl.com/img/_optimized/footer/languageLogo.svg");
        -webkit-mask-image: url("https://static.deepl.com/img/_optimized/footer/languageLogo.svg");
        display: block;
        position: relative;
        background: $subtext0;
        -webkit-mask-size: 100%;
        -webkit-mask-position: 100%;
        mask-size: 24px;
        mask-position: 0;
        right: 194px;
        width: 24px;
        height: 24px;
    }

    .dl_translator_link_container::after {
        content: "";
        mask-image: url("https://static.deepl.com/img/logo/DeepL_Text_darkBlue.svg");
        -webkit-mask-image: url("https://static.deepl.com/img/logo/DeepL_Text_darkBlue.svg");
        display: block;
        position: absolute;
        background: $sapphire;
        -webkit-mask-size: 100%;
        -webkit-mask-position: 0;
        mask-size: 100%;
        mask-position: 0;
        left: 1;
        width: 66px;
        height: 18px;
    }

    @media only screen and (max-width: 650px) {
        [class^="languageSelectorContainer"]::after {
            right: 184px;
        }
    }

    /* Menu */

    [class^="menuContainer"] {
        background-color: $surface1;

        [class^="container"] a {
            color: $text;

            &:hover {
                color: $sapphire;
            }
        }

        [class^="mainContent"] + [class^="mainContent"] {
            border-top: theme is "Latte" ? thin solid $overlay0 : thin solid $overlay1;

            [class*="button"][class*="color_primary"] {
                color: $sapphire;
            }
        }
    }

    [class*="closeButton_dark"] {
        &::before, &::after {
            background-color: $subtext1;
        }

        &:hover {
            &::before, &::after {
                background-color: $sapphire;
            }
        }
    }

    /* Options */

    if (quotes) {
        #dl_quotes_container {
            display: none;
        }
    }

    if (header) {
        .dl_header {
            display: none;
        }
    }

    if (footer) {
        .dl_footerV2_container,
        .showSeoText .eSEOtericText {
            display: none;
        }
    }

    if (quotes != footer) {
        .showSeoText .eSEOtericText {
            margin-bottom: 70px;
        }
    }

    if (quotes && header && footer) {
        body {
            display: flex;
            min-height: calc(100vh - 2em);
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        .dl_translator_page_container {
            margin: 2em 0;
            > * {
                width: 100vw;
            }
        }
    }
}
